# Tuples

A tuples is an immutable list. For example: A tuples cann't be changed in any way, once it has been created. History events. 
* Tuples are faster than lists 
* If you know that some data doesn't have to be changed, you should use Tuples insted of lists, because this protects your data againts accidental changes 
* The main advantage of Tuples is that Tuples can be used as keys in dictionries, whicle lists can't.

In [1]:
tpl = ("tuples", "are", "immutable")
tpl[0]
tpl

('tuples', 'are', 'immutable')

# Tuples value can't be replace

In [4]:
tpl[0] = "try to assing this value to a tuple"

TypeError: 'tuple' object does not support item assignment

In [8]:
tplList =(["a","b"], "c","d")
tplList[0]

['a', 'b']

In [11]:
type(tplList[0]) #Trying to find what kind of data is this by typing TYPE and variable

list

In [12]:
type(tplList) #Trying to find what kind of data is this by typing TYPE and variable

tuple

In [10]:
tplList =(["a","b"], "c","d")
tplList[0].append("ab")
tplList

(['a', 'b', 'ab'], 'c', 'd')

In [ ]:
tplList =(["a","b"], "c","d")
tplList[0].append("ab")
tplList

In [13]:
regularListandTuple = ["a", (1, 1, 2, 3, 5), "b", "C"]
type(regularListandTuple)

list

In [14]:
type(regularListandTuple[1])

tuple

In [15]:
regularListandTuple[1][0] ="z"

TypeError: 'tuple' object does not support item assignment

In [19]:
coordinates = [(10,5),(20,15),(30,25)]

coordinates[0]

(10, 5)

In [20]:
coordinates[0] = "A"
coordinates

['A', (20, 15), (30, 25)]

# Slicing (SubAry)

In [25]:
message = "python is great"
firstSix = message [0:6]
firstSix

'python'

In [26]:
startAtFive = message[5:]
startAtFive

'n is great'

In [27]:
cloneData = message[:]
cloneData

'python is great'

In [29]:
withoutLastFive = cloneData[0:-6]
withoutLastFive

'python is'

# Creating List within a Slic

In [42]:
lstCities = ["Vienna", "London", "Paris", "Berlin", "Zurich", "Hamburg"]
FirstThree = lstCities[0:3]
FirstThree

['Vienna', 'London', 'Paris']

In [43]:
allButLastTwo = lstCities [:-2]
allButLastTwo

['Vienna', 'London', 'Paris', 'Berlin']

# Slicing has begin and eng [begin:end]
# Slicing also has 3 operators  [begin:end:step]


# Length
Length of a sequence, For example: a list or a tuple can be determinded with the function len()

In [49]:
txt = "Hello World"
len(txt)

11

In [51]:
lstABC = ["john", 48, 3.54, "jane"]
len(lstABC)

4

# Concatenation of Sequences

In [55]:
Colors1 =["red","green","blue"]
Colors2 =["black","white"]
Colors = Colors1 + Colors2
Colors

['red', 'green', 'blue', 'black', 'white']

# Increment Operation

In [58]:
x = 2
x = x + 1
x

3

In [59]:
y = 2
y += 1 #Augmented Assignment 
y

3

# Checking if an element is contained in list

In [60]:
abc = ["a","b","c", "d", "e",]
"a" in abc

True

In [61]:
"a" not in abc

False

In [62]:
"f" not in abc

True

# Test Question

In [64]:
#Python code for arithetic operations |
a = 11
b = 4
print (a/b) #output 2.75
print (a//b) #output 2
print (a%b) #output 3

2.75
2
3

In [ ]:
# Match the data type to the code segment 

# bool, Float, int, Str

age = 2 #int
minor = False #bool
name = "Johnny" #Str
weight = 123.5 #float
zip ="8100" #str

In [65]:
# you are developing a python application for your coompany, write the following 
# you need to make a selection in the drop down 
numList = [1,2,3,4,5]  
alphaList = ["a","b","c","d","e"]
print (numList is alphaList)  #output False
print (numList == alphaList) #output False
numList = alphaList
print(numList is alphaList) #output True
print(numList == alphaList)#output True

False
False
True
True

In [70]:
# Eevaluate the following ptyon expression:

(3*(1+2)**2 - (2**2)*3) #output is ? (3, 13, 15, 69)
#(3*(3)**2 - (4)*3)
#(3*(9) - (12)
#(27) - (12)

15

A list named employees contains 200 employee names, the last five being comany management. you need to slice the list to display all employees exclding management.

Which tow code segments should you use ?

employees [1:-4]
employees [:-5]
employees [1:-5]
employees [0:-5]

# Answer
employees [0:-5]

# Extend Function

In [71]:
lst = [43, 44, 45]
lst2 = [46, 47]
lst.append(lst2)
lst

[43, 44, 45, [46, 47]]

In [73]:
lst3 = [43, 44, 45]
lst4 = [46, 47]
lst3.extend(lst4)
lst3

[43, 44, 45, 46, 47]

In [75]:
lstStr = ["a","b","c"]
prgLanguage = "Python"
lstStr.extend(prgLanguage)
lstStr

['a', 'b', 'c', 'P', 'y', 't', 'h', 'o', 'n']